/* css reset */
* {
  box-sizing: border-box;
  margin:0;
  padding:0;
}

/* general*/
body {
  font-family: 'Ubuntu', sans-serif;
  font-size:20px;
}

section {
  margin-bottom: 20px;
}

/* header */
header {
  height: 175px;
  background-image: url('/img/pattern.png');
  background-color: #4F9FF7;
}

#logo {
  width: 250px;
  height: 100%;;
  background-image: url('/img/logo.svg');
  background-position: center;
  background-repeat: no-repeat;
} 
/* /header */

/* main */
main {
  padding: 25px 10px;
}

.title h1 {
  font-size: 2.5em;
  margin-bottom: 10px;;
}

.title p {
  color: grey;
}

.title a {
  text-decoration: none;
  color: #4F9FF7;
}

#date {
  font-size: 0.75em;
}

.images p{
  font-size: 0.5em;
}

.paragraph > p > span {
  background-color: yellow;
}

.list ul {
  padding: 0 0 0 40px;
}



/* /main */
